@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Blog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Blog.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm bg-dark text-white">
        <div class="container-fluid justify-content-between">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Blog</a>
            <div>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="justify-content-around">
                        <span class="nav-text">Hello, @User.Identity?.Name</span>
                        <a asp-controller="User" asp-action="Logout" class="nav-item nav-link">Logout</a>
                    </div>
                }
                else
                {
                    <a asp-controller="User" asp-action="Login" class="nav-item nav-link">Login</a>
                }
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="m-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - Blog
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>