@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<User> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Blog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Blog.styles.css" asp-append-version="true"/>
</head>
<body>
<header class="py-3 mb-3 border-bottom bg-dark">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none dropdown-toggle" id="dropdownNavLink" data-bs-toggle="dropdown" aria-expanded="false">
                <strong>Blog</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li>
                    <a class="dropdown-item active" href="#" aria-current="page">Overview</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Inventory</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Customers</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Products</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item" href="#">Reports</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Analytics</a>
                </li>
            </ul>
        </div>

        <div class="d-flex align-items-center">
            <form class="w-100 me-3">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>

            <div class="flex-shrink-0 dropdown">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.EygFVLaHGtsc4JiwaK4ETwHaHa%26pid%3DApi&f=1" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <a class="dropdown-item" href="#">Posts</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Settings</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Profile</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="User" asp-action="Logout">Sign out</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="dropdown-item" asp-controller="User" asp-action="Login">Sign in</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</header>
<main role="main" class="m-3">
    <div class="container">
        @RenderBody()
    </div>
</main>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - Blog
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>