@model Post
@{
    ViewData["Title"] = Model.Title;
}
<div class="container text-center">
    <h1>@Model.Title</h1>
    <pre>@Model.Body</pre>
</div>
<script type="text/javascript" defer>
    document.body.onload = () => {
        let element = document.getElementById('post-body');
        element.innerHTML += marked.parse('@Model.Body');
    }
</script>