@model Post
@{
    ViewData["Title"] = Model.Title;
}
<div class="bg-white bg-post container">
    <h1 class="text-center">@Model.Title</h1>
    <div id="post-body" class="post-body"></div>
</div>
<script type="text/javascript" defer>
    document.body.onload = () => {
        let element = document.getElementById('post-body');
        element.innerHTML += marked.parse('@Model.Body');
    }
</script>