@model Blog.ViewModels.UserLoginViewModel
@{
    ViewData["Title"] = "Create a post";
}
<form asp-action="Login" asp-controller="User" method="post">
    <div class="container">
        <div class="m-3">
            <label class="form-label" for="username">User name</label>
            <input class="form-control" type="text" id="username" name="username"/>
            <span asp-validation-for="UserName"></span>
        </div>
        <div class="m-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password"/>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="m-3">
            <input class="btn btn-primary" type="submit" value="Login"/>
        </div>
    </div>
</form>