@model IEnumerable<Post>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    @foreach (var post in Model)
    {
        <div class="container">
            <h1>@post.Title</h1>
            <p>@post.Body</p>
        </div>
    }
</div>