@model IEnumerable<Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach (var post in Model)
    {
        <h1>@post.Title</h1>
        <p>@post.Body</p>
    }
</div>